In [70]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime, timedelta

In [23]:
df = pd.read_csv('data/US_Accidents_March23.csv')
df.head(10)
df_severe = df[df['Severity'] > 2]

AttributeError: 'Series' object has no attribute 'value_countscounts'

In [21]:
df_severe.info()
df_severe.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1504047 entries, 0 to 7728380
Data columns (total 46 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ID                     1504047 non-null  object
 1   Source                 1504047 non-null  object
 2   Severity               1504047 non-null  int64
 3   Start_Time             1504047 non-null  object
 4   End_Time               1504047 non-null  object
 5   Start_Lat              1504047 non-null  float64
 6   Start_Lng              1504047 non-null  float64
 7   End_Lat                351813 non-null   float64
 8   End_Lng                351813 non-null   float64
 9   Distance(mi)           1504047 non-null  float64
 10  Description            1504045 non-null  object
 11  Street                 1502710 non-null  object
 12  City                   1504014 non-null  object
 13  County                 1504047 non-null  object
 14  State                  1504047 non-null  object
 15  Zipcode                1503596 non-null  object
 16  Country                1504047 non-null  object
 17  Timezone               1503171 non-null  object
 18  Airport_Code           1499824 non-null  object
 19  Weather_Timestamp      1481718 non-null  object
 20  Temperature(F)         1471462 non-null  float64
 21  Wind_Chill(F)          845671 non-null   float64
 22  Humidity(%)            1469779 non-null  float64
 23  Pressure(in)           1475793 non-null  float64
 24  Visibility(mi)         1466121 non-null  float64
 25  Wind_Direction         1473950 non-null  object
 26  Wind_Speed(mph)        1333062 non-null  float64
 27  Precipitation(in)      794343 non-null   float64
 28  Weather_Condition      1466323 non-null  object
 29  Amenity                1504047 non-null  bool
 30  Bump                   1504047 non-null  bool
 31  Crossing               1504047 non-null  bool
 32  Give_Way               1504047 non-null  bool
 33  Junction               1504047 non-null  bool
 34  No_Exit                1504047 non-null  bool
 35  Railway                1504047 non-null  bool
 36  Roundabout             1504047 non-null  bool
 37  Station                1504047 non-null  bool
 38  Stop                   1504047 non-null  bool
 39  Traffic_Calming        1504047 non-null  bool
 40  Traffic_Signal         1504047 non-null  bool
 41  Turning_Loop           1504047 non-null  bool
 42  Sunrise_Sunset         1501084 non-null  object
 43  Civil_Twilight         1501084 non-null  object
 44  Nautical_Twilight      1501084 non-null  object
 45  Astronomical_Twilight  1501084 non-null  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 408.8+ MB

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
5,A-6,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-8,Source2,3,2016-02-08 07:59:58,2016-02-08 08:29:58,39.770382,-84.194901,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
9,A-10,Source2,3,2016-02-08 08:10:04,2016-02-08 08:40:04,40.100590,-82.925194,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day

In [27]:
df_severe['County'].value_counts()

County
Los Angeles      117818
Dallas            44988
Harris            34345
Cook              34243
Alameda           31512
                  ...
Sanilac               1
Stonewall             1
Danville City         1
Scurry                1
Ness                  1
Name: count, Length: 1748, dtype: int64

## Which county has longest delays due to severe accidents

In [94]:
df_severe['duration'] = (pd.to_datetime(df_severe['End_Time']) - pd.to_datetime(df_severe['Start_Time']))

SyntaxError: incomplete input (3822741454.py, line 1)

In [100]:
(pd.to_datetime(df_severe['End_Time'], dayfirst=True) - pd.to_datetime(df_severe['Start_Time'], dayfirst=True))

ValueError: time data "2016-02-13 01:00:00" doesn't match format "%Y-%d-%m %H:%M:%S", at position 49. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.