In [7]:
import pandas as pd

In [47]:
df = pd.read_csv('data/test.csv')
df

               Name  Age         City  Total     Sex  Graduate
0   Prosenjit Sinha   43    Manalapan    860    Male      True
1    Priyasha Sinha   16  Englishtown    900  Female      True
2  Priyankana Dutta   41    Manalapan   1000    Male     False
3      Prayan Sinha    8        Ocean   1200  Female     False

In [55]:
dfg = df.groupby(df['Age'] > 10)[['Total']].mean()
print(dfg)

        Total
Age
False  1200.0
True    920.0