### Codio Activity 4.2: Complex Joins on Datasets

**Expected Time: 60 Minutes**

**Total Points: 10**

![](images/kiva.png)

This assignment focuses on using pandas merge to answer questions using multiple data sources.  Here you will combine data and use many of the earlier `pandas` methods together with the `merge` function to extract insights from our data source.  The data comes from the Kiva loan provider organization and was part of a kaggle Data Science for good contest [here](https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding).

#### Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)
- [Problem 5](#Problem-5)

### The Data

Kiva allows users to fund loans to small organizations around the world.  The four datasets contain a subset of the data provided on kaggle and describe information on the individual loan, when it was given, where the borrowers were located, and what the loans were being used for.  Below, the data is loaded into four DataFrames and the first two rows of each displayed.  Note the shared `id` column across all four datasets.

In [201]:
import pandas as pd

In [203]:
crowdsource = pd.read_csv('data/kiva/crowdsource.csv')
crowdsource.head(2)

        id                posted_time                funded_time  lender_count
0   658776  2014-01-17 21:21:10+00:00  2014-02-05 17:57:55+00:00            33
1  1314847  2017-06-07 02:02:41+00:00  2017-06-21 17:10:38+00:00             9

In [18]:
demographics = pd.read_csv('data/kiva/demographics.csv')
demographics.head(2)

        id      country                 region borrower_genders
0   658776  El Salvador      Ciudad El Triunfo             male
1  1314847  Philippines  Bais, Negros Oriental           female

In [20]:
financials = pd.read_csv('data/kiva/financials.csv')
financials.head(2)

        id  funded_amount currency  term_in_months
0   658776         1000.0      USD            20.0
1  1314847          225.0      PHP            13.0

In [22]:
use = pd.read_csv('data/kiva/use.csv')
use.head(2)

,id,activity,sector,use
0,658776,Vehicle,Personal Use,to purchase a motorcycle in order to travel fr...
1,1314847,Pigs,Agriculture,to buy feed and other supplies like vitamins t...

[Back to top](#Index:) 

### Problem 1

#### Kenyan Loan Amounts

**5 Points**

Use the `demographics` and `financials` data to determine the average loan amount for the country Kenya.  Save your response as a float to `ans1` below.

In [124]:
### GRADED

ans1 = None

### BEGIN SOLUTION
ans1 = pd.merge(left=demographics, right=financials, on='id').query('country == "Kenya"')[['funded_amount']].mean().values[0]
type(ans1)
### END SOLUTION

# Answer check
print(ans1)
print(type(ans1))

443.4723441615452
<class 'numpy.float64'>

In [126]:
### BEGIN HIDDEN TESTS
crowdsource_ = pd.read_csv('data/kiva/crowdsource.csv')
demographics_ = pd.read_csv('data/kiva/demographics.csv')
financials_ = pd.read_csv('data/kiva/financials.csv')
use_ = pd.read_csv('data/kiva/use.csv')
ans1_ = pd.merge(demographics_.loc[demographics_['country'] == 'Kenya'], financials_, on = 'id')[['funded_amount']].mean().values[0]
#
#
#
assert type(ans1_) == type(ans1)
assert ans1_ == ans1
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 2

### El Salvador Top Sector

**5 Points**

Use the `demographics` and `use` datasets to determine the sector of work that received the most loans in El Salvador.  Assign your result as a string to `ans2` below.

In [147]:
### GRADED

ans2 = None

### BEGIN SOLUTION
ans2 = pd.merge(left=demographics, right=use, on='id').query('country == "El Salvador"')['sector'].value_counts().index[0]
type(ans2)
### END SOLUTION

# Answer check
print(ans2)
print(type(ans2))

Agriculture
<class 'str'>

In [149]:
### BEGIN HIDDEN TESTS
crowdsource_ = pd.read_csv('data/kiva/crowdsource.csv')
demographics_ = pd.read_csv('data/kiva/demographics.csv')
financials_ = pd.read_csv('data/kiva/financials.csv')
use_ = pd.read_csv('data/kiva/use.csv')
ans2_ = pd.merge(demographics_.loc[demographics_['country'] == 'El Salvador'], use_, on = 'id')['sector'].value_counts().index[0]
#
#
#
assert type(ans2_) == type(ans2)
assert ans2_ == ans2
### END HIDDEN TESTS

### Problem 3

#### Pakistan Loans in Agriculture

**5 Points**

Combine the `use`, `demographics`, and `financials` data to determine the total amount of loans for Agriculture in Pakistan.  Assign your results as a float to `ans3` below.

In [152]:
### GRADED

ans3 = None

### BEGIN SOLUTION
p1 = pd.merge(use, demographics, on = 'id')
a = pd.merge(p1, financials, on = 'id')
b = a.loc[a['country'] == 'Pakistan']
ans3 = b.loc[b['sector'] == 'Agriculture'][['funded_amount']].sum().values[0]

### END SOLUTION

# Answer check
print(ans3)
print(type(ans3))

30900.0
<class 'numpy.float64'>

In [154]:
### BEGIN HIDDEN TESTS
crowdsource_ = pd.read_csv('data/kiva/crowdsource.csv')
demographics_ = pd.read_csv('data/kiva/demographics.csv')
financials_ = pd.read_csv('data/kiva/financials.csv')
use_ = pd.read_csv('data/kiva/use.csv')
p1_ = pd.merge(use_, demographics_, on = 'id')
a_ = pd.merge(p1_, financials_, on = 'id')
b_ = a_.loc[a_['country'] == 'Pakistan']
ans3_ = b_.loc[b_['sector'] == 'Agriculture'][['funded_amount']].sum().values[0]
#
#
assert type(ans3_) == type(ans3)
assert ans3_ == ans3
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 4

#### Top Total Loan Sector

**5 Points**


What sector received the most total dollars in funding?  Assign your response as a string to `ans4` below.

In [157]:
### GRADED

ans4 = None

### BEGIN SOLUTION
ans4 = pd.merge(financials, use, on = 'id').groupby('sector')[['funded_amount']].sum().sort_values(by = 'funded_amount', ascending = False).index[0]
### END SOLUTION

# Answer check
print(ans4)
print(type(ans4))

Agriculture
<class 'str'>

In [159]:
### BEGIN HIDDEN TESTS
crowdsource_ = pd.read_csv('data/kiva/crowdsource.csv')
demographics_ = pd.read_csv('data/kiva/demographics.csv')
financials_ = pd.read_csv('data/kiva/financials.csv')
use_ = pd.read_csv('data/kiva/use.csv')
ans4_ = pd.merge(financials_, use_, on = 'id').groupby('sector')[['funded_amount']].sum().sort_values(by = 'funded_amount', ascending = False).index[0]
#
#
assert type(ans4_) == type(ans4)
assert ans4_ == ans4
### END HIDDEN TESTS

[Back to top](#Index:) 

### Problem 5

#### Top Loan by Lender Amount

**5 Points**


Note that each loan is a combination of lenders.  Determine which loan sector has the highest ratio of dollar to lender amount.  Assign the sector with the highest ratio as a string to `ans5` below.

In [191]:
### GRADED

ans5 = None

# YOUR CODE HERE
temp = pd.merge(left=use, right=financials, on='id', how='left')
temp = pd.merge(left=temp, right=crowdsource, on='id')
temp_grouped = temp[['sector', 'funded_amount', 'lender_count']].groupby('sector').sum()
temp_grouped['ratio'] = temp_grouped['funded_amount']/temp_grouped['lender_count']
temp_grouped = temp_grouped.sort_values(by='ratio', ascending=False)
ans5 = temp_grouped.index[0]

# Answer check
print(ans5)
print(type(ans5))

Clothing
<class 'str'>

In [193]:
### BEGIN HIDDEN TESTS
crowdsource_ = pd.read_csv('data/kiva/crowdsource.csv')
demographics_ = pd.read_csv('data/kiva/demographics.csv')
financials_ = pd.read_csv('data/kiva/financials.csv')
use_ = pd.read_csv('data/kiva/use.csv')
a_ = pd.merge(financials_, use_, on = 'id')
b_ = pd.merge(a_, crowdsource, on = 'id')
b_['ratio'] = b_['funded_amount']/b_['lender_count']
print(b_)
ans5_ = b_.groupby('sector')['ratio'].max().idxmax()
#
#
#
assert type(ans5_) == type(ans5)
assert ans5_ == ans5
### END HIDDEN TESTS

           id  funded_amount currency  term_in_months  \
0      658776         1000.0      USD            20.0
1     1314847          225.0      PHP            13.0
2      863063         1150.0      PEN             6.0
3     1184347         1700.0      AMD            26.0
4      729745          400.0      UGX             8.0
...       ...            ...      ...             ...
9995   679499          400.0      PKR            12.0
9996   873525          375.0      KES            14.0
9997   917686         1375.0      XOF             8.0
9998   905789          450.0      PHP            13.0
9999  1216411          125.0      PHP            16.0

                       activity        sector  \
0                       Vehicle  Personal Use
1                          Pigs   Agriculture
2                     Bookstore        Retail
3                   Photography      Services
4                 Fuel/Firewood        Retail
...                         ...           ...
9995        Fruits & Vegetables          Food
9996                    Farming   Agriculture
9997               Fish Selling          Food
9998              General Store        Retail
9999  Personal Housing Expenses       Housing

                                                    use  \
0     to purchase a motorcycle in order to travel fr...
1     to buy feed and other supplies like vitamins t...
2                  to buy notebooks, pencils, and pens.
3     to pay for a new lens for providing photograph...
4                             to buy  firewood to sell.
...                                                 ...
9995        to help her husband buy onions for resale.
9996  to buy fertilizer and pesticides to boost his ...
9997                                           buy fish
9998                     to buy more groceries to sell.
9999  to buy cement, hollow blocks, GI sheets, sand,...

                    posted_time                funded_time  lender_count  \
0     2014-01-17 21:21:10+00:00  2014-02-05 17:57:55+00:00            33
1     2017-06-07 02:02:41+00:00  2017-06-21 17:10:38+00:00             9
2     2015-03-27 20:08:04+00:00  2015-04-04 15:01:22+00:00             1
3     2016-11-14 07:32:12+00:00  2016-11-25 03:07:13+00:00            47
4     2014-06-24 07:35:46+00:00  2014-07-10 16:12:43+00:00            12
...                         ...                        ...           ...
9995  2014-03-05 07:05:38+00:00  2014-03-13 01:01:41+00:00            11
9996  2015-04-22 06:32:13+00:00                        NaN             6
9997  2015-07-15 11:53:33+00:00  2015-08-14 11:45:40+00:00            44
9998  2015-06-22 07:44:18+00:00  2015-07-14 00:20:45+00:00            11
9999  2017-01-06 06:54:07+00:00  2017-01-08 01:17:28+00:00             1

            ratio
0       30.303030
1       25.000000
2     1150.000000
3       36.170213
4       33.333333
...           ...
9995    36.363636
9996    62.500000
9997    31.250000
9998    40.909091
9999   125.000000

[10000 rows x 11 columns]

AssertionError: