In [38]:
import pandas as pd

In [43]:
data = {'A':[2,4,6], 'B':[7,8,9]}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])
print(df)

      A  B
row1  2  7
row2  4  8
row3  6  9

In [44]:
df['C'] = df['A'] + df['B']

In [45]:
df

      A  B   C
row1  2  7   9
row2  4  8  12
row3  6  9  15

In [46]:
df[df['B'] < 9].sum()
print(df)

      A  B   C
row1  2  7   9
row2  4  8  12
row3  6  9  15

In [47]:
df = df[['B', 'C']]

In [48]:
df

      B   C
row1  7   9
row2  8  12
row3  9  15