In [17]:
import pandas as pd
import numpy as np

In [22]:
d = {'X':[2,4,6,8,7], 'Y':[1,3,4,5,6]}
df = pd.DataFrame(d)
df

   X  Y
0  2  1
1  4  3
2  6  4
3  8  5
4  7  6

In [23]:
df.cov()

      X     Y
X  5.80  4.35
Y  4.35  3.70